@using ToolsApp.Models.Cars

<tr>
	<td>@Car.Id</td>
	<td><input type="text" @bind="@carForm.Make" /></td>
	<td><input type="text" @bind="@carForm.Model" /></td>
	<td><input type="number" @bind="@carForm.Year" /></td>
	<td><input type="text" @bind="@carForm.Color" /></td>
	<td><input type="number" @bind="@carForm.Price" /></td>
	<td>
		<button type="button">Save</button>
		<button type="button">Cancel</button>
	</td>

</tr>

@code {

	private CarFormModel carForm { get; set; } = new();

	[Parameter]
	public Car Car { get; set; }

	protected override void OnInitialized()
	{
		carForm = new()
			{
				Make = Car.Make,
				Model = Car.Model,
				Year = Car.Year,
				Color = Car.Color,
				Price = Car.Price
			};
	}

	class CarFormModel
	{
		public string Make { get; set; } = "";
		public string Model { get; set; } = "";
		public int Year { get; set; } = 1900;
		public string Color { get; set; } = "";
		public decimal Price { get; set; } = 0;
	}

}
